.container-fluid{
    height: 90vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:768px) {
    .container-fluid{
        margin-top: 20px;
        align-items: flex-start;
    }
}