<div class="container-fluid">
    <div class="row w-100">
        <div class="col-md-6 order-md-1 mb-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6qDW0PAN3jxDwH9s5X1-vx5uZaUfmKkToMmuRAbYfj1m45FcVGp3bttpZA3JcwdzACq0&usqp=CAU" height="800px" width="800px"
                alt="" class="image img-fluid">
        </div>
        <div class="col-md-6 order-md-2 text-center">
            <h2 class="heading">Your Complaint Box</h2>
            <div class="">
                <form [formGroup]="complaintForm" #r="ngForm" (ngSubmit)="onSubmit(r.value)" class="form">
                    <div class="form-group">
                        <label for="complaint">Mention about your Complaint</label>
                        <textarea placeholder="Write your complaint in this text box" type="text" rows="10"
                            class="form-control" id="complaint" formControlName="complaint" required></textarea>
                        <div
                            *ngIf="complaintForm.controls['complaint'].touched && complaintForm.controls['complaint']?.['errors']">
                            <div *ngIf="complaintForm.controls['complaint']?.['errors']?.['required']"
                                class="error-message text-danger">
                                Complaint is required
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 w-100 mb-4"
                        [disabled]="complaintForm.invalid">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>