<div class="" style="overflow: auto; height: 90vh;">
    <div class="d-flex align-items-center justify-content-center flex-wrap w-100">
        <div class="col-md-6 text-center">
            <h1>To resolve your issues please click on button Raise Complaint</h1>
            <button class="btn btn-primary" routerLink="/complaint">Raise Complaint</button>
          </div>
          <div class="col-md-6">
            <img src="https://img.freepik.com/free-vector/flat-customer-service-week-illustration_23-2149645758.jpg?w=740&t=st=1690991244~exp=1690991844~hmac=42cb08b645525ff1a2a4af699032897e7c4e5773f979eb860bcf4f267baaf414" alt="" class="img-fluid">
          </div>
    </div>
    <app-footer></app-footer>
  </div>
